*{
    margin: 0;
    padding: 0;
}
body{
    transition: 0.3s;
}
.navbar-brand{
    border-bottom: 5px solid red;
}
.navbar-brand::first-letter {
    color: red;
}
#red{
    color: red;  
}
.WebTitle{
    font-size: 50px;
    font-weight: bold;
}
.card {
    overflow: hidden;
    position: relative;
}
.card-body-card {
    position: absolute;
    bottom: -200px;
    left: 0;
    transition: transform 0.5s ease;
    background-color: rgb(255, 0, 0);
   height: 100%;
   box-sizing: border-box;
   color: white;
}
.card:hover .card-body-card {
    transform: translateY(-100%);
    background-color: rgb(255, 0, 0);
    color: white;
    opacity: 1;
}
.colum-Services{
    display: flex;
    width: 100%;
    justify-content: end;
}
.kind-services{
    font-size: 5vh;
}
.details{
    z-index: 1;
}
.list > li{
    list-style: none;
   word-break: break-all;
}
.list{
    position: absolute;
    display: none;
    transition: 0.5s;
    padding: 4px;
    margin: 0;
}
.skills h5{
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}
.skills h5:hover{
    border-bottom: 3px solid red;
}
.bg-img-tobot{
    animation: robot 5s linear infinite;
    position: relative; 
}
#services{
    background-color: transparent;
    transition: 0.3s;
}
.bi{
    margin-right: 5px;
    color: #ffffff;
    font-size: 20px
}
.contact-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
input[type="text"], #message {
    background-color: #333; 
    color: #fff; 
    border: 1px solid #fff; 
    width: 100%;
}
label {
    color: #fff; 
}
.typing{
    height: 55px;
    overflow: hidden; 
}
.wrapper li{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 0;
    list-style: none;
    animation: slide 12s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -180px;
    }
}
.wrapper li span{
    position: relative;
}
.wrapper li span::before{
    content: '';
    position: absolute;
    border-left: 5px solid red;
    left: 0%;
    width: 100%;
    height: 60px;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    animation: typing 2.0s steps(30) infinite alternate;
    z-index: 1;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -45px 0 45px;
    }
}
@keyframes robot {
    0%{
        top: 0;
    }
    60%{
        top: 30px;
    }
    100%{
        top: 0;
    }
}
@media (max-width: 850px) {
    #parent-con{
        overflow: hidden;
    }
    .row.gap-5 .detials {
        text-align: start;

    }
    .row.gap-5{
        display: flex;
        flex-direction: row;
    }
}
