.navbar-brand::first-letter {
    color: red;
}
#red{
    color: red;
    
}

.WebTitle{
    font-size: 50px;
    font-weight: bold;
}
.card {
    overflow: hidden;
    position: relative;
}
.card-body-card {
    position: absolute;
    bottom: -220px;
    left: 0;
    width: 100%;
    transition: transform 0.5s ease;
   height: 100%;
   box-sizing: border-box;
}
.card:hover .card-body-card {
    transform: translateY(-95%);
    background-color: rgb(255, 0, 0);
    color: white;
    opacity: 1;
    
}